@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}



:root {
  scrollbar-width: thin;
  scrollbar-color: var(--surface-400) var(--surface-50);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--surface-50);
}

::-webkit-scrollbar-thumb {
  background-color: var(--surface-400);
  border-radius: 3px;
}

.dark {
  scrollbar-color: var(--surface-400) var(--surface-950);
}

.dark ::-webkit-scrollbar-track {
  background: var(--surface-950);
}
p {
  padding-bottom:0.5rem;
}
.zoom:hover img {
  transform: scale(1.1);
}
.sanity-content {
  text-align: justify;

  p {
    margin-bottom: 1.25em;
  }

  ul {
    list-style-type: disc;
    margin: 1rem 0;
    padding-left: 2rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  ol {
    list-style-type: decimal;
    margin: 1rem 0;
    padding-left: 2rem;

    li {
      margin-bottom: 0.5rem;
    }
  }

  blockquote {
    border-left: 4px solid var(--primary-400);
    margin: 1.5rem 0;
    padding: 1rem 1.5rem;
    color:var(--surface-800);
    background: var(--surface-100);
    font-style: italic;
  }
}

/* Default pallette */
:root {
  --primary-50: #ecf4fe;
  --primary-100: #d9eafd;
  --primary-200: #b6d8fc;
  --primary-300: #86c4fb;
  --primary-400: #4bb3fa;
  --primary-500: #2c9fe3;
  --primary-600: #217db4;
  --primary-700: #165c86;
  --primary-800: #0c3f5d;
  --primary-900: #042235;
  --primary-950: #021523;

  --surface-0: #ffffff;
  --surface-50: #f1f2f3;
  --surface-100: #e0e2e5;
  --surface-200: #c2c5cc;
  --surface-300: #a6abb5;
  --surface-400: #888e9b;
  --surface-500: #6b7280;
  --surface-600: #565c67;
  --surface-700: #41454e;
  --surface-800: #2a2d32;
  --surface-900: #151619;
  --surface-950: #0c0c0e;
}
